<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Guitar</title>
    <link rel="stylesheet" href="{% static "css/mystyle.css" %}">
</head>
<body>  
    <h1>Hi, this is a picture of dJango itself</h1>
    <img src ="{% static "images/chipsbag.png" %}" alt="Chipsbag.pgn">
    <!--Any files that are not going to change-->


    <!--{{insert_me}}-->
    
</body>
</html>